<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>TwitterList</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/bundle.js' %}"></script>
    <!--<script src="{% static 'js/index.js' %}"></script>-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <form method="POST" class="post_form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
  <div id="tweets">
    {% for tweet, tweet_id, user_name in tweet_list %}
  <div class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
    <p><b>{{user_name}}</b>:{{tweet}}</p>
    <br/>
  </div>
    {% endfor %}
  </div>
    <br/>
  </body>
</html>
