<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>TwitterList</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/oauth-1.0a.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
  </head>

  <body>
    <form method="POST" class="post_form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% for tweet, tweet_id in tweet_list %}
    <p>{{tweet}}</p>
    <br/>
    {% endfor %}
    <br/>
  </body>
</html>
